main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  margin-top: 54px;
  background-color: #000;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: 90vw;
  padding-bottom: 30px;
  background-color: #000;
}

.mn__avatar {
  width: 80vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.mn__img {
  border-radius: 500px;
  opacity: 0.1;
  height: 250px;
  width: 250px;
  object-fit: cover;
  border: 4px solid #8ce605;
}

.mn__img:hover {
  border-radius: 500px;
  height: 250px;
  width: 250px;
  object-fit: cover;
  border: 4px solid #8ce605;
  animation: fadeIn 6s;
}

.mn__textBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 50px;
}

.s__h3 {
  margin-bottom: 20px;
}

.s__h4 {
  margin-bottom: 20px;
  font-size: 18px;
}

.mn__article {
  text-align: center;
  height: auto;
}

.color__letter {
  color: #8ce605;
}

/* Keyframes Animation */
/**** Fadein ****/
@keyframes fadeIn {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
