* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: #000;
}

body {
  height: 100vh;
  background-color: #000;
  font-family: "ocra", serif;
  color: #8ce605;
}

h1 {
  text-transform: uppercase;
  font-family: "Conthrax", "Helvetica", arial, helvetica, sans-serif;
  font-size: 25px;
  padding: 6px 0px 0px;
  margin: 0px 0px 36px;
}
h2 {
  text-transform: uppercase;
  font-family: "Conthrax", "Helvetica", arial, helvetica, sans-serif;
  font-size: 25px;
  color: #fff;
}
h3 {
  text-transform: uppercase;
  font-family: "Conthrax", "Helvetica", arial, helvetica, sans-serif;
  font-size: 25px;
  color: #fff;
}

p {
  font-family: "ocra", serif;
  font-size: 17px;
  color: #fff;
}
